<% provide :title, t("admin.orders_trash_manager") %>
<div class="mb-3">
  <%= link_to admin_orders_path, class: "" do %>
    <%= t ".orders_page" %>
  <% end %>
</div>

<div class="row align-items-end mb-3">
  <div class="col-md-auto">
    <%= form_with url: trash_admin_orders_path, method: :get do |form| %>
      <div class="row">
        <div class="col-md-auto">
          <%= form.label :user_name, t(".user_name") %>
          <%= form.text_field :user_name, class: "form-control", required: true %>
        </div>
        <div class="col-md-auto">
          <label class="d-block">&nbsp;</label>
          <%= form.submit t("admin.search"), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-auto">
    <div>
      <%= link_to t(".clear_search"), trash_admin_orders_path, class: "btn btn-outline-primary config-showall" %>
    </div>
  </div>
</div>

<% if @count_orders_deleted_by_status.any? %>
  <div class="row mb-3">
    <% @count_orders_deleted_by_status.each do |order| %>
      <% if order.keys[0] == "rejected" || order.keys[0] == "canceled" %>
        <div class="col-md-auto py-2">
          <%= link_to trash_admin_orders_path(status: "#{order.keys[0]}"), class: "btn btn-#{order.keys[0]}" do %>
            <%= t "admin.orders.index.#{order.keys[0]}_orders" %>
            <span class="number-order"><%= order.values[0] %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="mb-3 checkbox-all-order">
  <div class="row align-items-center">
    <div class="col-md-auto">
      <%= check_box_tag :check_all %>
      <%= label_tag :check_all, t(".check_all"), class: "mb-0" %>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-danger destroy-orders"><%= t ".destroy_orders_selected" %></button>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-resolved restore-orders"><%= t ".restore_orders_selected" %></button>
    </div>
  </div>
</div>

<% if @username_search %>
  <div class="mb-3"><%= t(".search_result") %><%= @username_search %></div>
<% end %>

<% if @trash_orders.any? %>
  <table class="table table-bordered table-hover orders-list">
    <thead class="thead-inverse|thead-default">
      <tr>
        <th>#</th>
        <th><%= t ".user_name" %></th>
        <th><%= t ".address" %></th>
        <th><%= t ".created_at" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".total_price" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "trash_order", collection: @trash_orders %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav @pagy %>
<% else %>
  <div class="alert alert-warning mt-4">
    <strong><%= t ".no_order_found" %></strong>
  </div>
<% end %>
