<footer id="footer">
  <div class="wrap-footer-content footer-style-1">
    <div class="wrap-function-info">
      <div class="container">
        <ul>
          <li class="fc-info-item">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <div class="wrap-left-info">
              <h4 class="fc-name"><%= t ".free_ship" %></h4>
              <p class="fc-desc"><%= t ".free_ship_detail" %></p>
            </div>
          </li>
          <li class="fc-info-item">
            <i class="fa fa-recycle" aria-hidden="true"></i>
            <div class="wrap-left-info">
              <h4 class="fc-name"><%= t ".guarantee" %></h4>
              <p class="fc-desc"><%= t ".guarantee_detail" %></p>
            </div>
          </li>
          <li class="fc-info-item">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <div class="wrap-left-info">
              <h4 class="fc-name"><%= t ".safe" %></h4>
              <p class="fc-desc"><%= t ".safe_detail" %></p>
            </div>
          </li>
          <li class="fc-info-item">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <div class="wrap-left-info">
              <h4 class="fc-name"><%= t ".support" %></h4>
              <p class="fc-desc"><%= t ".support_detail" %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--End function info-->

    <div class="main-footer-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="wrap-footer-item">
              <h3 class="item-header"><%= t ".contact_details" %></h3>
              <div class="item-content">
                <div class="wrap-contact-detail">
                  <ul>
                    <li>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <p class="contact-txt"><%= t ".contact_address"%></p>
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <p class="contact-txt"><%= t ".contact_phone"%></p>
                    </li>
                    <li>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <p class="contact-txt"><%= t ".contact_email"%></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="wrap-footer-item">
              <h3 class="item-header"><%= t ".hot_line"%></h3>
              <div class="item-content">
                <div class="wrap-hotline-footer">
                  <span class="desc"><%= t ".call_us"%></span>
                  <strong class="phone-number"><%= t ".phone"%></strong>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 box-twin-content ">
            <div class="row">
              <div class="wrap-footer-item twin-item">
                <h3 class="item-header"><%= t ".my_account"%></h3>
                <div class="item-content">
                  <div class="wrap-vertical-nav">
                    <ul>
                      <li class="menu-item">
                        <%= link_to t(".my_account"), "#", class: "link-term" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wrap-footer-item twin-item">
                <h3 class="item-header"><%= t ".info"%></h3>
                <div class="item-content">
                  <div class="wrap-vertical-nav">
                    <ul>
                      <li class="menu-item">
                        <%= link_to t(".contact_page"), "#", class: "link-term" %>
                      </li>
                      <li class="menu-item">
                        <%= link_to t(".order_history"), "#", class: "link-term" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap-back-link">
      </div>
    </div>
    <div class="coppy-right-box">
      <div class="container">
        <div class="coppy-right-item item-left">
          <p class="coppy-right-text">E-com 2021</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</footer>
