<header id="header" class="header header-style-1">
  <div class="container-fluid">
    <div class="row">
      <div class="topbar-menu-area">
        <div class="container">
          <div class="topbar-menu left-menu">
            <ul>
              <li class="menu-item" >
                <span class="icon label-before fa fa-mobile"></span>
                <%= link_to t(".hot_line"), "#" %>
              </li>
            </ul>
          </div>
          <div class="topbar-menu right-menu">
            <ul>
              <% if user_signed_in? %>
                <li class="menu-item">
                  <%= t ".welcome"%>
                  <%= link_to current_user.name, edit_user_registration_path %>
                </li>
                <li class="menu-item">
                  <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="menu-item">
                  <%= link_to t(".login"), new_user_session_path %>
                </li>
                <li class="menu-item">
                  <%= link_to t(".sign_up"), new_user_registration_path %>
                </li>
              <% end %>
              <li class="menu-item lang-menu">
                <%= link_to locale: :en do %>
                  <span class="img label-before">
                    <%= image_tag("lang-en.png", alt: "lang-en") %>
                  </span>
                  <%= t("languages.en") %>
                <% end %>
              </li>
              <li class="menu-item lang-menu">
                <%= link_to locale: :vi do %>
                  <span class="img label-before">
                    <%= image_tag("lang-vi.png", alt: "lang-en") %>
                  </span>
                  <%= t("languages.vi") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="mid-section main-info-area">
          <div class="wrap-logo-top left-section">
            <%= link_to t(".logo_text"), home_path, class: "logo_link" %>
          </div>
          <div class="wrap-search center-section">
            <div class="wrap-search-form">
              <%= form_with url: "", id: "form-search-top", method: :get do |form| %>
                <%= form.text_field :query, name: "search", placeholder: "Search here" %>
                <%= form.button do %>
                  <i class="fa fa-search" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="wrap-icon right-section">
            <div class="wrap-icon-section minicart">
              <%= link_to "#", class: "link-direction" do %>
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <div class="left-info">
                  <%= link_to carts_path do %>
                    <span class="index"><strong class="count-items-cart-hd"><%= count_current_cart %></strong> <%= t ".cart_item" %></span>
                    <span class="title"><%= t ".cart" %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-section header-sticky">
        <div class="header-nav-section">
          <div class="container">
            <ul class="nav menu-nav clone-main-menu" id="mercado_haead_menu" data-menuname="Sale Info" >
              <li class="menu-item">
                <%= link_to t(".item_hot"), "#", class: "link-term" %>
                <span class="nav-label hot-label">hot</span>
              </li>
              <li class="menu-item">
                <%= link_to t(".item_new"), "#", class: "link-term" %>
                <span class="nav-label hot-label">hot</span>
              </li>
            </ul>
          </div>
        </div>
        <%= render "shared/navbar" %>
      </div>
    </div>
  </div>
</header>
