<div class="primary-nav-section">
  <div class="container">
    <ul class="nav primary clone-main-menu" id="mercado_main" data-menuname="Main menu" >
      <li class="menu-item home-icon">
        <%= link_to root_path do %>
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="menu-item">
        <%= link_to t(".about_us"), "#", class: "link-term mercado-item-title" %>
      </li>
      <li class="menu-item">
        <%= link_to t(".shop"), products_path, class: "link-term mercado-item-title" %>
      </li>
      <li class="menu-item">
        <%= link_to t(".cart"), carts_path, class: "link-term mercado-item-title" %>
      </li>
      <li class="menu-item">
        <%= link_to t(".contact"), "#", class: "link-term mercado-item-title" %>
      </li>
    </ul>
  </div>
</div>
