<% provide :title, t(".title") %>
<div class="wrap-breadcrumb">
  <ul>
    <li class="item-link"><%= link_to t(".home"), home_path, class: "link" %></li>
    <li class="item-link"><span><%= t ".detail" %></span></li>
  </ul>
</div>
<div class="row">
  <div class="col-xs-12 main-content-area">
    <div class="wrap-product-detail">
      <div class="detail-media">
        <div class="product-gallery">
          <ul class="slides">
             <%= image_tag show_image(@product), alt: "" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="detail-info">
        <h2 class="product-name"><%= @product.name %></h2>
        <div class="short-desc">
          <ul>
            <li><%= @product.description %></li>
          </ul>
        </div>
        <div class="wrap-price"><span class="product-price"><%= number_to_currency(@product.price, locale: :vi) %></span></div>
        <%= form_tag carts_path, remote: true do  %>
          <%= hidden_field_tag :product_id, @product.id %>
          <div class="quantity">
            <span><%= t ".quantity" %></span>
            <div class="quantity-input">
              <%= number_field_tag :quantity, 1, min:1, step: 1 %>
              <button class="btn btn-reduce"></button>
              <button class="btn btn-increase"></button>
            </div>
          </div>
          <div class="wrap-butons">
            <%= submit_tag t(".add_to_cart"), class: "btn add-to-cart" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
